html, body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    display: block;
}

*{
    text-decoration: none !important;

}



.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #F3F3F3;
    box-shadow: 0 19px 38px rgba(0, 0,0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}




 .nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
} 



 .nav .links .mainlink{
    color: #e0501b;
} 



 /* .nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;

}  */



.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}




.landingText h1{
    font-size: 6vw;
    margin: 0 !important;
}




.landingText h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
}



.landingText .btn{
    width: 120px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-color: #2f8be0;
    border-radius: 45px;

}


.landingText .btn a{
    font-size: 1.2vw;
    color: #fff;
}


.landingImage img{
    width: 28vw;
}


.nav .logo h4{

    font-size: 38px;
    font-weight: bold;
    color: #D41E30;
    margin-left: -12px;
    display: inline;
    box-shadow: 0 2px #D41E30;
    

}

.logo img{
    height: 72px;
    width: 90px;
    display: inline-block;
    margin-top: 8px;
}

